/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* Path: client\src\index.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 100%; 
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75%;
    margin: 10%;
    background-color: #e8e7ed;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#pageContainer {
    height: 1500px;
    margin-top: 30px;
    padding: 20px;
    color: #444444;
}

.grid-container-app {
    display: grid;
    grid: 1300px / auto auto;
}
.app-box {
    grid-column: 1 / span 2;
	margin:10px;
	padding:10px;
    background:#7FACBF;
    border-radius: 25px;
} 

.app-form{ 
    font-size: 25px;
    position: relative;
    width: 100%;
    height: 10em;

    
} 

.app-form input, select{
    font-size: 25px; 
    color: #444444;
    background-color: #e8e7ed; 
    /* display: inline-block; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-top: 2em; added margin top */
    border-radius: 8px;
    border-color:  #444444;
    border: 1px solid;

}

.app-form label{
    text-align: left;
    flex-flow: row wrap;
}


.form-box-app{ 
    width: fit-content;
    position:absolute;
    top:35%;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.submit-btn{ 
    font-size: 25px;
    background-color: #EBBB52;
    border-color: #f5bb40; 
    border-radius: 8px;
    position: absolute;
    float: right;
    /* top:450px;  */
    color:#444444;

}

@media screen and (max-width: 750px) {
    .app-form{
        font-size: 16px;
    }

    .app-form input, select{
        font-size: 16px;
    }
    .submit-btn{ 
        font-size: 16px;
    }

    .grid-container-app {
        display: grid;
        grid: 1000px / auto auto;
    }

    
}


