#dietPageContainer {
    position: fixed;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    overflow: auto;
    /* background-color: #b7b7b7; */
    justify-content: center;
    display: flex;
}

.grid-container-diet {
    display: grid;
    grid: 800px / auto auto; 
    background-color: #e8e7ed; 
    /* border: 3px solid #444444;  */
    border-radius: 8px; 
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #444444;
    text-transform: uppercase;
    text-align: center; 
    margin-top: 25px;
} 

.add-food-btn{
    text-align: center;
    margin-bottom: 25px;
}

.add-drink-btn{
    text-align: center;
    margin-bottom: 25px;
} 

.center-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.dietBox1,
.dietBox2,
.dietBox3 {
    margin: 10px;
    padding: 10px;
    background: #7ebb94;
    border-radius: 25px; 
    display: block;
    border: 3px solid #444444;
}

.dietBox1 {
    grid-column: 1 / span 2;
}
.dietBox2 {
    grid-column: 1;
}
.dietBox3 {
    grid-column: 2;
} 
.meal-form label {
    display: inline-block;
    width: 150px; 
    /* text-align: right; */
    /* margin-right: 30px;   */

}


.meal-form {
    font-size: 16px; 
    display: block;
}

.meal-form input, .meal-from select{
    font-size: 16px;
    background-color: #e8e7ed;
    border-radius: 8px;
    border-color: #444444;
    border: 1px solid; 
    /* margin: 5px; */  
    display: inline-block;
    width: 250px;
    margin: 10px; 
    /* margin-left: 20px; */
    /* align-items: center; */
} 

 
.meal-form label{
    margin-left: 20px;
}


.meal-btn,
.drink-btn,
.food-btn {
    font-size: 16px;
    background-color: #ebbb52;
    border-color:#444444 ;
    border-radius: 8px;
    color: #444444;
    margin-top: 10px; 
    padding: 15px 15px;
}

.mealType {
    display: inline-block; 
}

.fdResults {
    position: absolute;
    display: flex;
    width: 10rem;
    flex-direction: column;
    margin-left: 2.3rem;
    font-size: 16px;
    background-color: #e8e7ed;
    border-color: #e8e7ed;
}

.fdResult:hover {
    background-color: #b3b3b6;
    cursor: pointer;
}

.dietHeader {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px; 
}

.dietHeader h2{ 
    margin-left: 100px;

} 

.dietBox1 h2{ 
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;

}

.click-me{
    font-size: 20px;
    background-color: #FA8B8C;
    border-radius: 8px;
    border: 2px solid #444444;
    color: #444444;
    /* margin-top: 10px;  */
    padding: 20px 30px;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-right: 30px;
}

#meals {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.dietFilter {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}  
.dietFilter label{ 
    font-size: 30px; 
    padding: 10px; 
    margin: 20px;

}

.dietFilter input, 
.dietFilter select{
    font-size: 20px;
    background-color: #ebbb52;
    border-radius: 8px;
    border: 2px solid #444444;
    color: #444444;
    /* margin-top: 10px;  */
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-right: 30px;
    
} 
.size-btn{
    font-size: 20px;
    background-color: #ebbb52;
    border-radius: 8px;
    border: 2px solid #444444;
    color: #444444;
    /* margin-top: 10px;  */
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-right: 30px;
}


#dietTable {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20%;  
    border: solid 2px #444444;
    border-radius: 8px; 
}

#dietTable thead,
tbody {
    border: 2px solid;
}

#dietTable th {
    text-align: left;
    padding: 10px;
    font-size: 22px;
    width: 100%;
    border-right: 1px solid #7ebb94;
    background-color: #7ebb94; 
    border-radius: 3px;
}

#dietTable th:last-child {
    border-right: none;

}

#dietTable td {
    text-align: left;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

#dietTable th:nth-child(1) {
    width: 30rem;
}
#dietTable th:nth-child(2) {
    width: 15rem;
}
#dietTable th:nth-child(3) {
    width: 15rem;
}
#dietTable th:nth-child(4) {
    width: 15rem;
}
#dietTable th:nth-child(5) {
    width: 10rem;
}
#dietTable td:nth-child(1) {
    width: 30rem;
}
#dietTable td:nth-child(2) {
    width: 15rem;
}
#dietTable td:nth-child(3) {
    width: 15rem;
}
#dietTable td:nth-child(4) {
    width: 15rem;
}
#dietTable td:nth-child(5) {
    width: 10rem;
    
}

.breakfast {
    color: red;
}
.lunch {
    color: green;
}
.dinner {
    color: blue;
}
.snack {
    color: purple;
}

.viewMeal{
    background-color: #7FACBF;
    border-radius: 8px;
    border: 2px solid #444444;
    color: #444444;
    padding: 15px 15px;
}