@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*{
    font-family: 'Cabin', sans-serif;
}

.email-btn{
    font-size: 25px;
    background-color: #ebbb52;
    border-radius: 8px;
    border: 2px solid #444444;
    color: #444444;
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    text-align: center;
}

.email-container {
    border: 3px solid #444444;
    background-color: #7FACBF;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #444444;
    text-align: center;
}

.email-goal{
    text-align: left;
}
