.grid-container-exercise {
    display: grid;
    grid: 500px / auto auto;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #444444;
    text-transform: uppercase;
    text-align: center;
}
.exercise-box {
    margin: 10px;
    padding: 10px;
    background: #7facbf;
    border-radius: 25px;
}

.exercise-box {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
}

.exercise-form {
    font-size: 25px;
    display: inline-block;
}

.exercise-form input,
select {
    font-size: 25px;
    background-color: #e8e7ed;
    border-radius: 8px;
    border-color: #444444;
    border: 1px solid;
    margin-top: 25px;
    margin-left: 36px;
}
.exercise-form label {
    display: inline-block;
    width: 200px;
}

.exercise-btn {
    font-size: 20px;
    background-color: #ebbb52;
    border-radius: 8px;
    border: 2px solid #edbc52;
    color: #444444;
    /* margin-top: 10px;  */
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .exercise-btn{ 
    float:right;
}  */

.exercise-btn {
    margin-left: 30%;
}
