.grid-container-exercise {
    display: grid;
    grid: 500px / auto auto;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #444444;
    text-transform: uppercase;
    text-align: center;
}
.exercise-box {
    margin: 10px;
    padding: 10px;
    background: #7facbf;
    border-radius: 25px;
}

exercise-box {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
}

.exercise-form {
    font-size: 25px;
    display: inline-block;
}

.exercise-form input,
select {
    font-size: 25px;
    background-color: #e8e7ed;
    border-radius: 8px;
    border-color: #444444;
    border: 1px solid;
    margin-top: 25px;
    margin-left: 36px;
}
.exercise-form label {
    display: inline-block;
    width: 200px;
}

.exercise-btn {
    font-size: 20px;
    background-color: #ebbb52;
    border-radius: 8px;
    border: 2px solid #edbc52;
    color: #444444;
    /* margin-top: 10px;  */
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .exercise-btn{ 
    float:right;
}  */

#exerciseGrid {
    display: flex;
    width: 70%;
    height: 25rem;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 1px solid #444444;
    padding: 30px;
    justify-content: center;
}

#exerciseGrid canvas {
    width: 100%;
    height: 100%;
}

#chart {
    width: 100% !important;
    height: 100% !important;
}

.exerciseButtons {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

#exerciseHistory {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 45%;
    top: 20%;
    left: 27.5%;
    flex-direction: column;
    background-color: #e8e7ed;
}

#exerciseTable {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 300px; /* set a fixed height for the container */
    overflow-y: scroll;
}

#exerciseTable::-webkit-scrollbar {
    display: none;
}

#exerciseTable thead,
tbody {
    border: 1px solid;
}

#exerciseTable th {
    text-align: left;
    padding: 10px;
    font-size: 22px;
    width: 100%;
    border-right: 1px solid;
}

#exerciseTable th:last-child {
    border-right: none;
}

#exerciseTable td {
    text-align: left;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

#exerciseTable th:nth-child(1) {
    width: 20rem;
}
#exerciseTable th:nth-child(2) {
    width: 10rem;
}
#exerciseTable th:nth-child(3) {
    width: 15rem;
}
#exerciseTable th:nth-child(4) {
    width: 10rem;
}
#exerciseTable th:nth-child(5) {
    width: 15rem;
}
#exerciseTable td:nth-child(1) {
    width: 20rem;
}
#exerciseTable td:nth-child(2) {
    width: 10rem;
}
#exerciseTable td:nth-child(3) {
    width: 10rem;
}
#exerciseTable td:nth-child(4) {
    width: 10rem;
}
#exerciseTable td:nth-child(5) {
    width: 15rem;
}

.close-btn {
    display: flex;
    float: right;
    justify-content: right;
    background: none;
    border: none;
    padding: 10px;
}
