.footer-container {
    background-color: #766db0;
    width: 100%;
}
.footer {
    padding: 40px 0;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #e8e7ed;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    display: inline-block;
    text-align: center;
    border: 1px solid #e8e7ed;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    margin: 0 8px;
    /* opacity: 0.75; */
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 10px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: #e8e7ed;
    text-decoration: none;
    /* opacity: 0.8; */
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    /* opacity: 1; */
}

.footer .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #e8e7ed;
}

.footer .logo{ 
    display: block;
    width: 30%; 
    height: 30%; 
    margin-left: auto;
    margin-right: auto;
}

.footer .logo{ 
    display: block;
    width: 30%; 
    height: 30%; 
    margin-left: auto;
    margin-right: auto;
}