.grid-container-group {
    display: grid;
    grid: 500px / auto auto auto;
    height: 300px;
    margin-left: 80px;
} 
.grid-container-group2{
    display: grid;
    grid: 600px / auto auto;  
    background-color: #E8E7ED;
    border-radius: 25px;
    border: 2px solid #444444; 
}
.groupBox1, .groupBox2, .groupBox3, .groupBox4, .groupBox5, .groupBox6{
    margin: 50px;
    padding: 50px;
    background: #7ebb94;
    border-radius: 25px;
    border: 2px solid #444444;
} 



.groupBox1 {
    grid-column: 2;
    background:#7EBB94;
    width: 500px;
    height:250px;
}

.groupBox2 {
    grid-column: 1;
    background:#7EBB94;  
}
.groupBox3 {
    grid-column: 1 / span 2;
    background:#7EBB94;

} 
.groupBox2 h2{
    font-size: 30px; 
    text-align: center;
    margin-bottom: 20px;
}
.groupBox3 h3{
    font-size: 30px; 
    text-align: center;
    margin-bottom: 20px;
}
.groupBox4 h3{
    font-size: 30px; 
    text-align: center;
    margin-bottom: 20px;
}

.groupBox6 h3{
    font-size: 30px; 
    text-align: center;
    margin-bottom: 20px;
}
.groupBox4 {
    grid-column: 2;
    background:#7EBB94;
}
.groupBox5 {
    grid-column: 1;
    background:#7FACBF;
    width: 400px;
    height: 400px;
}
.groupBox6 {
    grid-column: 1 / span 2;
    background:#7FACBF; 
    text-align: center;
}

.createGroup, .joinGroup {
    background-color: #EBBB52;
    border-radius: 8px;
    padding: 32px 16px;
}

.createGroup {
    grid-column: 2;
}

.joinGroup {
    grid-column: 4;
}
 
 #groupPageContainer {
    position: fixed;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    overflow: hidden;
    /* background-color: #b7b7b7;  */
    justify-content: center;
    /* display: flex;  */
    overflow: auto; 
}  

.group-buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.header-container{
    display: grid;
    grid: 150px / auto; 
    border: 3px solid #444444; 
    background-color:  #7FACBF;
    grid-column: 1; 
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    text-align: center; 
    margin-bottom: 30px;
} 
.header-container h1{
    margin-top: 60px;  
}
.groups-btn{
    font-size: 20px;
    background-color: #FA8B8C;
    border-radius: 8px;
    border: 2px solid #444444;
    color: #444444;
    margin-bottom: 40px; 
    padding: 15px 15px; 
    min-width: 500px; 
    min-height: 70px;

}
.group-img{
    width: 120px;
    height: 120px; 
    margin-top: 30px;
}
#weight-form{
    background-color: #7FACBF;
} 

.close-button{
    display: flex; 
    float: right;
    background: none;
    border: none;
    padding: 10px; 
}
#pageContainer2{
    /* height: 1500px; */
    /* margin-top: 30px; */
    color: #444444;

}

.input-box{
    font-size: 16px;
    background-color: #e8e7ed;
    border-radius: 8px;
    border-color: #444444;
    border: 1px solid; 
    /* margin: 5px; */  
    display: inline-block;
    width: 150px;
    margin: 10px; 
    align-items: center;
} 

.input-box2{
    font-size: 16px;
    background-color: #e8e7ed;
    border-radius: 8px;
    border-color: #444444;
    border: 1px solid; 
    /* margin: 5px; */  
    display: inline-block;
    width: 150px;
    margin: 10px; 
    align-items: center;
} 



@media only screen and (max-width: 600px) {   
    .header-container h1{
        text-align: center;

    } 
    .groups-btn{
        font-size: 20px;
        background-color: #FA8B8C;
        border-radius: 8px;
        border: 2px solid #444444;
        color: #444444;
        margin-bottom: 40px; 
        padding: 15px 15px; 
        min-width: 200px;
        word-wrap: break-word;
        min-height: auto;
    } 
}

@media only screen and (max-width: 500px){
    .groups-btn{
        font-size: 20px;
        background-color: #FA8B8C;
        border-radius: 8px;
        border: 2px solid #444444;
        color: #444444;
        margin-bottom: 40px; 
        padding: 15px 15px; 
        min-width: 200px;
        max-width: 200px; 
        word-wrap: break-word;
        min-height: auto;
    }  



}