nav {
    background-color: #766DB0;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 10px #393553;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav ul li {
    height: 100%;
}

nav ul li a {
    display: block;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    color: #E8E7ED;
    font-size: 1.2rem;
    line-height: 50px;
}
